
{{!-- {{list}}--}}
{{!-- unorganized without a each loop in the app.js route file. --}}




<ul>

{{#each list}}



<li><h1> {{@index}}     {{this}}</h1></li>
    
{{!-- this is each one in a list. --}}










{{/each}}
  
</ul>