<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <a href="/">Home
  <a href="/animals">Creatures</a></a>
  <a href="/cars">cars</a>


{{{body}}}
{{!-- repeats an entire other .hbs file the general layout --}}
{{!-- where you link front end js, jquery, css, all your framework files in the layout.hbs --}}

{{!-- partials: assigning repitition somewhere so its not always visible.
piece of html, set it as a view and then you can render inside other views. --}}









    <script src="app.js">
      </script>
</body>
</html>